#section-form form {
	max-width: 400px;
	min-width: 300px;
}
#section-form {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}
.container-center {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.titulo {
	color: white;
}
